.project-section {
  padding: 2rem 1rem;
  text-align: center;
}

.projects-heading {
  font-size: 40px;
  margin-bottom: 2rem;
  color: #fff;
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2rem;
  justify-items: center;
}

.projectCard-link {
  text-decoration: none;
}

.projectCard {
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(12px);
  border: 1px solid rgba(255, 255, 255, 0.15);
  border-radius: 15px;
  overflow: hidden;
  transition: transform 0.2s ease, box-shadow 0.3s ease, background 0.3s ease;
  width: 100%;
  max-width: 500px;
}

.projectCard:hover {
  transform: translateY(-6px) scale(1.05);
  box-shadow: 0 8px 25px rgba(255, 0, 225, 0.4);
  background: rgba(255, 255, 255, 0.1);
  color: #f0f;
  text-shadow: 0 0 3px #f0f, 0 0 6px #f0f, 0 0 12px #f0f;
}

.projectCard-screenshot {
  width: 100%;
  display: block;
  object-fit: cover;
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
}

.projectCard-content {
  padding: 1rem;
  color: white;
}

.projectCard-name {
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
  color: #fff;
}

.projectCard-description {
  font-size: 1rem;
  color: #c4c4c4;
}

.projectCard::after {
  content: '';
  display: block;
  width: 50%;
  height: 2px;
  margin: 0.5rem auto 0 auto;
  background: linear-gradient(90deg, #0ff, #f0f);
  border-radius: 2px;
  box-shadow: 0 0 10px #0ff, 0 0 20px #f0f;
}

.projectCard-languages {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  background-color: white;
  border-radius: 1.5rem;
  padding: 5px;
  margin-top: 10px;
}

.projectCard-language {
  width: 20px;
}

.projectCard-skillIcon {
  font-size: 1.5rem;
  color: #000; 
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1.5rem;
  height: 1.5rem;
  transition: color 0.5s ease;
}