.skills-section {
    text-align: center;
    padding: 40px 20px;
    background-color: rgb(199, 203, 255);
    color: var(--bg);
    border-radius: 25px;
}

.skills-container {
  margin: 20px 0;
  
}

.skills-heading {
    color: var(--bg);
}

.skills-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5rem;
  margin: 2rem 0;
}

.skill-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 0.5rem;
  border-bottom: 2px solid var(--bg);

}

.skill-icon {
  width: 40px;
  height: 40px;
  object-fit: contain;
}

.active-name {
    color: var(--bg);
}

.tabs-slider {
    left: 50%;
    transform: translateX(-50%);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8rem;
    margin-top: 2rem;    
    padding: 0 1rem;
    height: 60px;
    border-radius: 40px;
    z-index: 1000;
    background: var(--gradient);
    width: 50%;
}


.tab-marker {
  width: 50px;
  height: 50px;
  padding: 10px;
  cursor: pointer;
  border-radius: 50%;
  opacity: 0.5;
  transition: opacity 0.3s;

}

.tab-marker img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.tab-marker.active {
  opacity: 1;
  background-color:  white;
  transform: scale(1.2); 
}
