.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

}

/* ───────────────────────────────────────────
   Sections
──────────────────────────────────────────── */
.section {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  padding: 50px 0px;
}

.section-content {
  max-width: 1200px;
  width: 100%;
  text-align: center;
}

/* ───────────────────────────────────────────
   Home Section
──────────────────────────────────────────── */
#home {
  color: #fff;
}

.mt-4 {
  padding-bottom: 20px;
}

/* ────────────── Glow Line ────────────── */

.glow-line {
  position: relative;
  display: block;
  margin-bottom: 50px;
  width: 80%;
  height: 3px;
  background: linear-gradient(90deg, #0ff, #f0f);
  border-radius: 5px;
  animation: beam-expand 3s forwards;
}

@keyframes beam-expand {
  0% {
    width: 0;
    opacity: 0.8;
    box-shadow: 0 0 10px #0ff, 0 0 20px #f0f;
  }
  100% {
    width: 80vw;
    height:3px;
    opacity: 1;
    box-shadow: 0 0 30px #0ff, 0 0 60px #f0f;
  }
}

.intro-title {
  position: absolute;
  color: #0ff;
  font-size: 3rem;
  opacity: 0;
  animation: fade-in 1.5s 0.7s forwards; /* delay for beam to start first */
  text-shadow: 0 0 5px #0ff, 0 0 10px #0ff, 0 0 20px #f0f;
}

@keyframes fade-in {
  to {
    opacity: 1;
  }
}



/* ───────────────────────────────────────────
   About Section
──────────────────────────────────────────── */

#about p {
  margin: 50px 0;
}

/* ───────────────────────────────────────────
   Work Section 
──────────────────────────────────────────── */



/* ───────────────────────────────────────────
   Contact Section
──────────────────────────────────────────── */





/* ────────────── Social Links ────────────── */

.socialMedia-links {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}

.social-link img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  transition: background-color 0.2s;
}

.social-link img:hover {
  background-color: #00bfff;
}



