@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap');

:root {
  --bg: #000435;
  --bg-2:  rgba(203, 220, 255, 0.25);
  --text: #fff;
  --muted: #c4c4c4;
  --gradient: linear-gradient(90deg, var(--brand), var(--brand-2));
  --brand: #00bfff;
  --brand-2: #ff6ec7;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  overflow-x: hidden;
  width: 100%;
}

body {
  margin: 0;
  background-color: var(--bg);
  font-family: 'Fira Code', monospace;
  color: white;
}


/* ────────────── Text Styles ────────────── */
h1 {
  color: #fff;
  font-size: 50px;
  font-weight: 600;
}

h2 {
  color: #fff;
  font-size: 44px;
  font-weight: 500;
}

h3 {
  color: #fff;
  font-size: 38px;
  font-weight: 400;
}

h4 {
  color: #fff;
  font-size: 32px;
  font-weight: 300;
}

h5 {
  color: var(--muted);
  font-size: 26px;
  font-weight: 200;
}

h6 {
  color: #fff;
  font-size: 20px;
}

.brand {
  color: var(--brand);
}

.brand-2 {
  color: var(--brand-2);
}

.name {
  background: var(--gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text; 
  color: transparent; 
  font-style: italic;
}


/* ────────────── Buttons ────────────── */
button {
  position: relative;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: 500;
  font-family: inherit;
  color: white;
  border: 1px solid white; 
  border-radius: 25px;
  cursor: pointer;
  z-index: 0;
  overflow: hidden;
}

button::before {
  content: '';
  position: absolute;
  top: -3px; left: -3px; right: -3px; bottom: -3px;
  background: var(--gradient);
  border-radius: 28px;
  z-index: -1;
}

button:hover {
  background: #00bfff;
  color: white;
}

/* ────────────── Buttons ────────────── */
.glow-line {
  position: relative;
  display: block;
  width: 80%;
  height: 4px;
  margin: 0.5rem auto 0;
  border-radius: 2px;
  background: var(--brand-2);
  filter: blur(2px);
  mix-blend-mode: screen;
}

.glow-line::after {
  content: '';
  position: absolute;
  width: 60%;
  height: 2px;
  left: 50%;
  transform: translateX(-50%);
  background: var(--brand-2);
  filter: blur(16px);
  border-radius: 2px;
}